.tracker {
  margin-top: 30px;
  margin-left: 15px;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 10px;
}

input {
  display: inline;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  height: 35px;
  width: 300px;
  font-size: 25px;
}

button {
  display: inline;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 35px;
  width: 150px;
  font-size: 25px;
  color: bisque;
  background-color: brown;
}

button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.5s ease-in;
}

ul {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 20px;
}

li {
  margin-top: 10px;
  margin-left: 35px;
}

p {
  margin-top: 30px;
  margin-left: 15px;
  font-size: 35px;
  font-style: italic;
}
